In [0]:
#-*-coding: utf-8
json_hierarchy = [
        {
            "div": "감사위원회",
            "child": "조사담당관"
#             /안전담당관/감사담당관"
        },
        {
            "div": "경제진흥본부",
            "child": {
                "div": "창조경제기획관",
                "child": "도시농업과"
#                 /경제정책과/민생경제과
#                 /화융합경제과/디지털창업과/투자유치과/소상공인지원과"
            }
        },
#         {
#             "div": "관광체육국",
#             "child": "관광정책과/체육진흥과/체육정책과/관광사업과"
#         },
        {
            "div": "기술심사담당관"
        },
#         {
#             "div": "기획조정실",
#             "child": [
#                 {
#                     "div": "국제교류담당관"
#                 },
#                 {
#                     "div": "정책기획관",
#                     "child": "기획담당관/법률지원담당관/대외협력담당관/조직담당관/법무담당관/평가담당관"
#                 },
#                 {
#                     "div": "해외도시협력담당관"
#                 },
#                 {
#                     "div": "재정기획관",
#                     "child": "예산담당관/시민참여예산과/공기업담당관/재정관리담당관/시민참여예산담당관"
#                 }
#             ]
#         }
    ]

In [5]:
from urllib import parse

# URL 추출
urls = [];
tail = '&dept%5B%5D='
def extract_value(data, origin_url):
  if (len(data)) > 2:
    for single_div in data :
      url = str(origin_url)
      if isinstance(single_div, dict):
        try:
          if isinstance(single_div['child'], str):
            #요기 최종
            ## pares 안해주면 한글 url이 깨진다요
            url += parse.quote(single_div['div'])
            url += tail
            for div in single_div['child'].split('/'):
              url_final = url + parse.quote(div)
              urls.append(url_final)
#               print(url_final)
              urls.append(url_final)
          else:
            url += parse.quote(single_div['div'])
            url += tail
            extract_value(single_div['child'], url)
        except KeyError:
#           url += parse.quote(single_div.get('div'))
#           urls.append(url)
          print('keyerr')
      else:
        print("no dict : ")
  else:
    url = str(origin_url)
    child_list = data.get('child')
    for child in child_list.split('/'):
      url_final = url + parse.quote(data.get('div')) + tail + parse.quote(child)
      urls.append(url_final)
#       print(url_final)
      
extract_value(json_hierarchy, "")
urls[:5]

keyerr

['%EA%B0%90%EC%82%AC%EC%9C%84%EC%9B%90%ED%9A%8C&dept%5B%5D=%EC%A1%B0%EC%82%AC%EB%8B%B4%EB%8B%B9%EA%B4%80',
 '%EA%B0%90%EC%82%AC%EC%9C%84%EC%9B%90%ED%9A%8C&dept%5B%5D=%EC%A1%B0%EC%82%AC%EB%8B%B4%EB%8B%B9%EA%B4%80',
 '%EA%B2%BD%EC%A0%9C%EC%A7%84%ED%9D%A5%EB%B3%B8%EB%B6%80&dept%5B%5D=%EC%B0%BD%EC%A1%B0%EA%B2%BD%EC%A0%9C%EA%B8%B0%ED%9A%8D%EA%B4%80&dept%5B%5D=%EB%8F%84%EC%8B%9C%EB%86%8D%EC%97%85%EA%B3%BC']

In [6]:
# 필요한 라이브러리 가져오기
from urllib import request
!pip install html5lib
import html5lib
!pip install lxml
import pandas as pd
import numpy as np

Requirement already satisfied: html5lib in /usr/local/lib/python3.6/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from html5lib) (1.11.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.3)

In [7]:
# 2017년 1년치 데이터 크롤링
df = pd.DataFrame()
base_url_head = "https://opengov.seoul.go.kr/expense?dept%5B%5D=%EC%84%9C%EC%9A%B8%EC%8B%9C%EB%B3%B8%EC%B2%AD&dept%5B%5D="
base_url_tail = "&year=2017&month="

# url돌면서 url 만들기
for div in urls:
  div_url = (base_url_head + div + base_url_tail)
    
  for month in range(1,4): 
    url_month = div_url + str(month)
    try:
      df_month = pd.read_html(url_month)[1]
      df = df.append(df_month)
    except IndexError:
      print('err', url_month)


#   mayor_12months = mayor_12months.append(df)

#   ## 1 category 칼럼 넣기
#   ## 년/ 월 / 일 / 시간 분리하기
#   ## 레스토랑명 / 지역 분리하기

err https://opengov.seoul.go.kr/expense?dept%5B%5D=%EC%84%9C%EC%9A%B8%EC%8B%9C%EB%B3%B8%EC%B2%AD&dept%5B%5D=%EA%B2%BD%EC%A0%9C%EC%A7%84%ED%9D%A5%EB%B3%B8%EB%B6%80&dept%5B%5D=%EC%B0%BD%EC%A1%B0%EA%B2%BD%EC%A0%9C%EA%B8%B0%ED%9A%8D%EA%B4%80&dept%5B%5D=%EB%8F%84%EC%8B%9C%EB%86%8D%EC%97%85%EA%B3%BC&year=2017&month=3

데이터가 없는 항목도 많다. 크롤링 하는데 엄청 오래걸리네... 엑셀에 넣어둬야겠당

In [0]:
# url 첫 부분을 decoding해서 'category에 넣어주기'

In [8]:
df.describe()

               연번           집행금액
count  150.000000     150.000000
mean    11.580000  137937.200000
std      7.267903  125367.285501
min      1.000000    8100.000000
25%      5.000000   47850.000000
50%     11.000000   96000.000000
75%     17.000000  184525.000000
max     28.000000  490000.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 6
Data columns (total 8 columns):
연번      150 non-null int64
부서명     150 non-null object
집행일시    150 non-null object
집행장소    150 non-null object
집행목적    150 non-null object
대상인원    150 non-null object
결제방법    150 non-null object
집행금액    150 non-null int64
dtypes: int64(2), object(6)
memory usage: 10.5+ KB

In [11]:
df.shape

(150, 8)

In [14]:
df.head(3)

,연번,부서명,집행일시,집행장소,집행목적,대상인원,결제방법,집행금액
0,1,조사담당관,2017-01-20 13:15,청송옥(중구 서소문로) 외 14건,기강감찰 행정소요경비 지급,김정영조사관외 8명,카드,405500
1,2,조사담당관,2017-01-20 13:15,다락(중구 덕수궁길) 외 15건,기강감찰 행정소요경비 지급,김정영조사관외 8명,카드,475900
2,3,조사담당관,2017-01-02 19:56,북창터 (중구 세종대로),2016년 공직자 이해충돌심사 결과보고 검토회,조사담당관 외 5명,카드,130000

In [15]:
df.tail(3)

,연번,부서명,집행일시,집행장소,집행목적,대상인원,결제방법,집행금액
4,5,경제진흥본부 도시농업과,2017-02-13 12:30,바닷가작은부엌 (중구 덕수궁길 17),"양곡도매시장 이전, 신축을 위한 업무간담회",도시농업과장 및 도시농업정책팀장 등 3명,카드,48000
5,6,경제진흥본부 도시농업과,2017-02-23 13:02,우도일식 (중구 태평로1가 지하1층),도시농업 민간단체 공모사업추진간담회,"도시농업과장, 도시농업지원팀장 등 4명",카드,60000
6,7,경제진흥본부 도시농업과,2017-02-28 16:47,장군보쌈 (중구 무교로 19),직원 인사이동에 따른 직원격려 간담회,도시농업과장 및 도시농업과직원 27명,카드,470000